*.swp
.DS_Store
benchmark
*.a
*.o
compile_commands.json
jobsim.dSYM/
*.dSYM/
test
benchmark
Benchmark/
swapfile
output
*.tgz

asst3/assignment3/*
!asst3/assignment3/src/*.c
!asst3/assignment3/src/*.h
!asst3/assignment3/src/*.sh
